<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<groups>
			<run>
				<include name="home" />
				<include name="Login" />
				<include name="Logout" />
				<include name="product" />
				<include name="cart" />
				<include name="profile" />
				<include name="wishlist" />
			</run>
		</groups>
		<classes>
			<class name="com.flipkart.tests.HomePageTest" />
			<class name="com.flipkart.tests.LoginTest" />
			<class name="com.flipkart.tests.LogoutTest" />
			<class name="com.flipkart.tests.ProductTest" />
			<class name="com.flipkart.tests.ProductDetailsTest" />
			<class name="com.flipkart.tests.CartTest" />
			<class name="com.flipkart.tests.AddressTest" />
			<class name="com.flipkart.tests.FlipkartProfileInfoTest" />
			<class name="com.flipkart.tests.WishlistTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->